$color-background:#9dbbce;

$color-container:#e2e5b5;

$color-container-highlight:#E1C78F;

$color-font:#866475;

$color-font2:#0C356A;

$color-font-highlight:#fff0f0;

$color-button:	#ead5c6;

$color-highlight:#5d5aa1;

$font-family:'Cormorant Garamond', serif;
